<!DOCTYPE html>
<html>
<head lang="en">
  <script type="text/javascript" src="angular.js"></script>
  <script type="text/javascript">
  	var app = angular.module('app',[]);

	app.controller('LoginController', ['$scope', function($scope) {
		$scope.portfolios = ['1111','2222','3333'];
		$scope.portfolios['1111'] = [
			{name : '1',value: '12,22'},
			{name : '2',value: '12,228'},
			{name : '3',value: '16,22'},
			{name : '4',value: '19,22'},
			{name : '5',value: '144,22'}
		];
		$scope.portfolios['2222'] = [
			{name : '1',value: '1,224'},
			{name : '2',value: '1,22'},
			{name : '3',value: '2,2212'},
			{name : '4',value: '12,22'},
			{name : '5',value: '9,22'},
			{name : '6',value: '12,22'},
			{name : '7',value: '12,22'},
			{name : '8',value: '66,22'},
			{name : '9',value: '12,22'},
			{name : '10',value: '12,22'}
		];
		$scope.portfolios['3333'] = [
			{name : '1',value: '99,22'},
			{name : '2',value: '12,22'},
			{name : '3',value: '10,22'},
			{name : '4',value: '12,22'},
			{name : '5',value: '33,222'},
			{name : '6',value: '12,22'},
			{name : '7',value: '14,22'},
			{name : '8',value: '12,22'},
			{name : '9',value: '16,22'},
			{name : '10',value: '22,22'},
			{name : '11',value: '12,22'},
			{name : '12',value: '234,22'},
			{name : '13',value: '12,22'},
			{name : '14',value: '12,22'},
			{name : '15',value: '12,22'}
		];
		
		$scope.currentPortfolio;
		
		// here we change the current portfolio for userid if exists
		$scope.$watch('userid', function(val,old){
			if(undefined != val) {
				if('1111' == val) {

					$scope.currentPortfolio = $scope.portfolios['1111'];
				} else if('2222' == val) {

					$scope.currentPortfolio = $scope.portfolios['2222'];
				} else if('3333' == val) {
				
					$scope.currentPortfolio = $scope.portfolios['3333'];
				} else {
				
					$scope.currentPortfolio = null;
				}				
			}			
		});

	}]);
  </script>
  <meta charset="utf-8">

  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

</head>

<body>
  <div id="login-form" ng-app="app" ng-controller="LoginController">
    <div>
		<span>User ID: </span>
		<input id="user-id" ng-model="userid" type="text" />
	
	</div>
	<br />
	<span ng-model="currentPortfolio">Number of Portfolios: {{currentPortfolio.length}}</span>
	<ul ng-model="currentPortfolio" ng-repeat="item in currentPortfolio">
		<li>Portfolio_{{item.name}}: {{item.value}}</li>
	</ul>
  </div>
</body>
</html>